@model Inmobiliaria.Models.Inmueble
@using Inmobiliaria.Models;

@{
    ViewData["Title"] = "Eliminar Inmueble";
}

<h1>Eliminar Inmueble</h1>

<h3>¿Estás seguro que quieres eliminar este inmueble?</h3>
<hr />

<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Direccion)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Ambientes)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Ambientes)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Uso)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Uso)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Superficie)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Superficie) m²
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd class="col-sm-8">
                @Model.Precio.ToString("C")
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Disponible)
            </dt>
            <dd class="col-sm-8">
                @(Model.Disponible ? "Sí" : "No")
            </dd>

            <dt class="col-sm-4">
                Propietario
            </dt>
            <dd class="col-sm-8">
                @if (Model.Propietario != null)
                {
                    @(Model.Propietario.Nombre + " " + Model.Propietario.Apellido)
                }
                else
                {
                    <span>Sin propietario asignado</span>
                }
            </dd>

            <dt class="col-sm-4">
                Tipo de Inmueble
            </dt>
            <dd class="col-sm-8">
                @if (Model.TipoInmueble != null)
                {
                    @Model.TipoInmueble.Nombre
                }
                else
                {
                    <span>Sin tipo asignado</span>
                }
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Observaciones)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Observaciones)
            </dd>
        </dl>

        @if (!string.IsNullOrEmpty(Model.Portada))
        {
            <div class="form-group">
                <label>Imagen del inmueble:</label><br />
                <img src="~/img/@Model.Portada" alt="Imagen del inmueble" class="img-fluid" style="max-width: 300px;" />
            </div>
        }

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a class="btn btn-secondary" asp-action="Index">Volver a la lista</a>
        </form>
    </div>
</div>

