@model Inmobiliaria.Models.Propietario

@{
    ViewData["Title"] = "Eliminar Propietario";
}

<h1>Eliminar Propietario</h1>

<h3>¿Estás seguro de que quieres eliminar este propietario?</h3>
<hr />

<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                <td>@Model.Nombre</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Apellido)</th>
                <td>@Model.Apellido</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Dni)</th>
                <td>@Model.Dni</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Telefono)</th>
                <td>@Model.Telefono</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <td>@Model.Email</td>
            </tr>
        </table>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="btn-group" role="group">
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fa-solid fa-arrow-left"></i> Cancelar
                </a>
            </div>
        </form>
    </div>
</div>