@model Inmobiliaria.Models.Inquilino

@{
    ViewData["Title"] = "Eliminar Inquilino";
}

<h1>Eliminar Inquilino</h1>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">¡No se puede eliminar!</h4>
        <p>@ViewBag.ErrorMessage</p>
    </div>
}
else
{
    <h3>¿Estás seguro de que quieres eliminar este inquilino?</h3>
}
<hr />

<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                <td>@Model.Nombre</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Apellido)</th>
                <td>@Model.Apellido</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Dni)</th>
                <td>@Model.Dni</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Telefono)</th>
                <td>@Model.Telefono</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <td>@Model.Email</td>
            </tr>
        </table>

        @if (ViewBag.ErrorMessage == null)
        {
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <div class="btn-group" role="group">
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="fa-solid fa-arrow-left"></i> Cancelar
                    </a>
                </div>
            </form>
        }
        else
        {
            <div class="btn-group" role="group">
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fa-solid fa-arrow-left"></i> Volver
                </a>
            </div>
        }
    </div>
    
    @if (ViewBag.ContratosVigentes != null && ((List<Inmobiliaria.Services.ContratoInfo>)ViewBag.ContratosVigentes).Any())
    {
        <div class="col-md-6">
            <h4>Contratos Vigentes</h4>
            <div class="table-responsive">
                <table class="table table-sm table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>Inmueble</th>
                            <th>Propietario</th>
                            <th>Fecha Fin</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var contrato in (List<Inmobiliaria.Services.ContratoInfo>)ViewBag.ContratosVigentes)
                        {
                            <tr>
                                <td>@contrato.Id</td>
                                <td>@contrato.DireccionInmueble</td>
                                <td>@contrato.PropietarioNombre</td>
                                <td>@contrato.FechaFin.ToShortDateString()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
